* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fc;
}



.no-products{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 100px 0;
    color: #008000;
}